
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第二百七十二章 魅惑之体_通天仙路_穿越小说_笔趣阁</title>
<meta name="keywords" content="通天仙路,第二百七十二章 魅惑之体" />
<meta name="description" content="笔趣阁提供了苍天白鹤创作的穿越小说《通天仙路》干净清爽无错字的文字章节：第二百七十二章 魅惑之体在线阅读。" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="mobile-agent" content="format=html5; url=http://m.biqubook.com/3/3097/6180095.html" />
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.biqubook.com/3/3097/6180095.html" />
<link href="/css/style.css?v=1.0" rel="stylesheet" type="text/css" />
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/xxgg/common.js"></script>
<script src="/xxgg/read.js"></script>
<script type="text/javascript">
var preview_page = "/3_3097/6180094.html";
var next_page = "/3_3097/6180096.html";
var index_page = "/3_3097/";
function jumpPage() {
  if (event.keyCode==37) location=preview_page;
  if (event.keyCode==39) location=next_page;
  if (event.keyCode==13) location=index_page;
}
document.onkeydown=jumpPage;
</script>
</head>
<body id="wrapper">
<script>login();</script>
<div class="header">
<div class="wrap">
	<div class="logo">
		<a href="/" title="笔趣阁">笔趣阁<em>www.biqubook.com</em></a>
	</div>
	<script>search();</script>
</div>
</div>
		<div class="nav">
		<ul>
<li><a href="/">首页</a></li>
<li><a href="/xuanhuan/">玄幻小说</a></li>
<li><a href="/xiuzhen/">修真小说</a></li>
<li><a href="/dushi/">都市小说</a></li>
<li><a href="/chuanyue/">穿越小说</a></li>
<li><a href="/wangyou/">网游小说</a></li>
<li><a href="/kehuan/">科幻小说</a></li>
<li><a href="/qita/">其他小说</a></li>
<li><a href="/wanben/1.html">完本小说</a></li>
<li><a href="/paihangbang/">排行榜单</a></li>
<li><a href="/bookcase.html">阅读记录</a></li>
		</ul>
                <div class="h_submenucon"><script>bdshare();</script></div>
		</div>
<script>read1();</script>
<div class="book reader">
	<div class="path"><div class="p"><a href="/">笔趣阁</a> &gt; <a href="/3_3097/">通天仙路</a> &gt; 第二百七十二章 魅惑之体 <span class="oninfo"><script>textselect();</script></span>
</div></div>
	<div class="content">
		<h1>第二百七十二章 魅惑之体</h1>
		<div class="link"><span>苍天白鹤推荐阅读：<a href="/3_3098/">刀镇星河</a>、<a href="/3_3099/">不死武尊</a>、<a href="/3_3100/">英雄联盟之最强主宰</a>、<a href="/3_3101/">战国明月</a>、<a href="/3_3102/">放开TFBOYS让我来！</a>、<a href="/3_3103/">影视位面走起</a>、<a href="/3_3104/">发个红包去未来</a>、<a href="/3_3105/">破庙有神仙</a>、<a href="/3_3106/">妖孽兵王</a>、<a href="/3_3107/">异界大召唤系统</a></span></div>
<div class="read2"><script>read2();</script></div>
		<div id="content" class="showtxt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一秒记住【笔趣阁&nbsp;&nbsp;WWW.BIQubook.com】，无弹窗，更新快，免费阅读！
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁微微摇头，心中暗道，这些年轻人，真是充满了活力和精神啊。他呵呵一笑，道：“好侄女，你是想要欧小友全力以赴地帮你吧？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪面色微红，虽然欧阳明在心中先见为主，知道她十有八九是装出来的，但心中却依旧是为之所动。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“金大师，您这不是明知故问么？”百仕雪轻声道：“我们不仅仅希望欧大师能全力以赴，还想要请您相助一臂之力呢！”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁轻叹一声，道：“你应该知道，老夫虽然也会参加万宝大会，但却一直都是以个人身份参加，从未被任何势力招揽过。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪连忙道：“侄女明白，但您老都已经来了，侄女自然要提上一提喽。”她抿嘴而笑，道：“若是您老喝醉了，又答应了，岂不是让侄女喜出望外？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁哑然失笑，道：“你这小丫头，还真存了这心思啊。”他大笑数声，突地道：“也罢，若是你能够答应老夫一件事情，老夫和欧小友就助你们一臂之力吧。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪的美目顿时亮了起来，但她却并没有立即答复，而是犹豫了片刻，道：“请金大师示下。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁从未拉帮结派，也从未与任何势力走得过于热乎。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以他超级锻造师的超然身份，那些强大势力只会与他合作，而绝不会与他死磕。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可是，今天金圣洁竟然做出了改变的决定，百仕雪在欢喜之余也是心生警惕，究竟是什么事情让这位固执的老人放弃了数十年如一日的坚持呢？
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而且，她也明白，金圣洁所提出的要求，绝对不是什么小事。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁缓缓地道：“你们宜家阁的店铺遍布天下，那么是否知道昌隆郡的鲁大师？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪抬头，讶然地看着金圣洁，道：“金大师，您的意思，莫非是想要推动此事？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁重重地点着头，道：“不错，如此有利国民之大事，老夫自然要不遗余力地推动了。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪轻叹一声，道：“可是，就怕……皇族这一关不好过啊！”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明的心头一颤，他终于明白为何厉心樊和金圣洁提到此事之时，都有些吞吞吐吐的感觉了。原来，他们所顾忌的，竟然是当世之皇族。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“百小姐，廉价装备提升品质之事一旦推广，获得最大好处的，应该就是皇族吧？”欧阳明不解地道：“但是他们为何要从中作梗呢？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪举起酒壶，为他斟了一杯，柔声道：“如果鲁大师愿意入京，成为皇族供奉，并且保证此项技术不再外传的话，皇族长老们应该会乐见其成的。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明眼眉一挑，他顿时明白了这句话所蕴含的意思。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“皇族长老们的肚量，不会这么小吧？”欧阳明狐疑地问道。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁摇着头，道：“他们不是肚量小，而是此事牵扯太大，任何当权者都不可能容忍让这种强大的提升军备的手段落于旁人之手。”他无奈地道：“鲁大师若是肯入京也就罢了，若是不肯入京，并且再研究出什么好东西，嘿嘿……”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明的心中一寒，脸色也是变得颇为难看。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鲁大师的下场，莫非就是自己日后会享受到的待遇么？
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不过，他在武道上的修为，却是鲁大师望尘莫及的。或许鲁大师无法反抗，但这并不表示他也唯有束手就擒。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“哼！他们怎么能这样做，难道就不怕兽潮了么？”欧阳明愤愤不平地说道。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪的眼眸微亮，讶然看向欧阳明，以他的年纪，竟然知晓兽潮之事，那就不简单了。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁却是冷哼一声，道：“兽潮来了，首当其冲的可是各郡本地实力，特别是那些有底蕴的传承大户，更是折损惨重。或许，这也是皇族诸位长老喜闻乐见……。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“金大师！”百仕雪立刻是娇嗔一声，打断了他的话，道：“您失言了！”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁怔了半晌，叹道：“唉，是老夫多嘴了。也罢，不提此事了！”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明沉默不语，但是从他们这寥寥的几句对话中，就已经知道了许多幸密。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他隐隐的明白，倪家之所以不自己推出符文，而是选择了借鲁大师之手。或许并非因为这样做不符合世家的利益，而是因为他们早就知道会遇到这样那样的麻烦了吧。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁举杯，将杯中醇酒一饮而尽，随后豪气干云地道：“侄女，老夫也不和你说虚的，你可否愿意为此事奔波？”他的目光炯炯，道：“只要你答应此事，老夫和欧小友必然全力以赴，不敢说让你们在万宝大会上夺魁，但起码也能让你们进入前三。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪沉吟片刻，道：“金大师，您就这样相信我，不去和家父商议么？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁失笑道：“若是信不过你，老夫又怎会与你商量？再说，只要是你决定的事情，那老头子何时反驳过了？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;百仕雪嘴角微微翘起，道：“多谢金大师信任。”她的目光在两位大师的身上游弋片刻，终于道：“既然金大师如此看得起小女子，小女子也愿意惟您马首是瞻，闯上一闯！”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁双目一亮，道：“好，有侄女你这句话，老夫就有信心了。”他举起酒杯，道：“来，让我们共饮此杯，预祝一切顺利。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三人满杯而饮，但心中都知道，想要完成那一步，只怕并不容易。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;酒席之后，欧阳明正要回到院子，却被百仕雪亲自带领着，来到了另一处宅院之中。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与先前的那座小院相比，这处宅院才是真正的豪门大宅，里面的装饰更是美轮美奂，哪怕在细小处也能见到无数心思。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然欧阳明早就预料到，在今日之后，他所享受到的待遇会有所提升，但是一下子达到这种地步，却也让他吃了一惊。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送走百仕雪之后，他的心中颇为钦佩，这位妙龄女子虽然身为女儿身，但豪气却绝不比男儿逊色。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次日清晨，欧阳明起身晨练、用膳之后，金圣洁竟然是直接登门了。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这位老人家没有能够将欧阳明拉到家中，显得很是遗憾。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;见面之后，他开门见山地道：“我们去见武老弟吧，他也是一个关键人物，若是能够得到他的支持，我们的把握就更大一分了。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明轻轻点头，道：“一切听从前辈安排。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实，在入京之前，厉心樊就已经交代过了，并且答应介绍朝中诸公一同推动此事。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不过，如今欧阳明虽然未曾按照厉心樊的路子走，但若是论及影响力，却是毫不逊色，甚至于还略有过之呢。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当欧阳明表示出要前去拜访武鸿禧大师的意愿之时，宜家阁顿时准备了最为豪华的马车。这马车比金圣洁昨日使用的还要高档一些，不过，让欧阳明有些遗憾的是，百仕雪今日并未出现，少了那一抹美丽的倩影之后，似乎也缺少了一丝色彩。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;然而，欧阳明在片刻后立即惊醒，自己是情绪似乎有些不对啊。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登上马车，欧阳明犹豫片刻，还是问道：“金大师，那位百小姐修炼的是何等秘法啊？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁神秘地一笑，道：“你小子动心了？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明面色微微一红，道：“前辈说笑了，晚辈只是觉得，她有些……不同寻常。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁轻叹一声，道：“她确实是不同寻常，呵呵，若是平常之辈，百老头也不可能将偌大的宜家阁交给她打理了。”他顿了顿，稍稍地压低了声音，道：“仕雪侄女并没有修炼什么特殊的秘法，她只是天生的魅惑之体罢了。”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明心中讶然，脑海中无数念头转动，顿时想起了在倪家藏书阁中看到的那些古籍。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那时候，虽然欧阳明还是以学习符文之道为主，但也曾涉猎其它方面的知识。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人族历代以来强者如云，有名有姓的都是数以千万计，更不用说那些不曾在历史上留下姓名的强者了。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;强者的来历极为复杂，但有一种强者却被称为天生之强者。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;极阳之体，极阴之体，五行之体等等，若是发现了这样的体质，绝对会成为所有庞大势力全力争夺的对象。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而魅惑之体也是如此，虽说它的名气没有阴阳五行体质出名，但是在古籍的记载中，这种体质的排名似乎还要在其之上呢。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明以前对此大惑不解，但经过了昨日一见之后，他却是为之恍然。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仅仅是普通的见了一次面，他对百仕雪就有些念念不忘了。酒席上，她的一笑一颦，仿佛都时刻浮现在眼前。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以欧阳明如今的精神力强大程度，竟然还是深深地陷入了诱惑之中，而且，这一切还是发生在无声无息之中。由此可见，百仕雪的这魅惑之体是何等的不可思议了。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;心念微动，欧阳明道：“金大师，您为何不曾动心啊？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果真是魅惑之体，那么无论男女老幼，都应该会被她吸引而没有例外的才是啊。
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金圣洁淡淡地瞅了他一眼，道：“呵呵，你怎么知道我没有被她吸引呢？”
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欧阳明愣了半响，看着金圣洁的这张老脸，心中暗道，原来这才是真正的脸皮厚如城墙啊！
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;苍天白鹤说
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今天恢复三更，白鹤牙龈肿痛不是时候，二月最后一天，三月第一天都两更，也是无语了！三月第二天开始奋起直追，求保底月票，谢谢！
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机用户请浏览&nbsp;&nbsp;http://m.biqubook.com&nbsp;&nbsp;阅读，更优质的阅读体验，书架与电脑版同步。<br /><br />　　http://www.biqubook.com/3_3097/6180095.html<br /><br />　　天才一秒记住本站地址：www.biqubook.com。笔趣阁手机版阅读网址：m.biqubook.com</div>
<script>read3();</script>
		<div class="page_chapter">
			<ul>
				<li><a href="/3_3097/6180094.html">上一章</a></li>
				<li><a href="/3_3097/">返回目录</a></li>
				<li><a href="/3_3097/6180096.html">下一章</a></li>
				<li><a rel="nofollow" href="javascript:;" onclick="addBookMark('3097','6180095','通天仙路','第二百七十二章 魅惑之体');">加入书签</a>
</li>
			</ul>
		</div>
<script>read4();</script>
	</div>
</div>

<script>lastread.set('3097','6180095','通天仙路','第二百七十二章 魅惑之体','苍天白鹤','穿越小说');</script>

<div id="footer" name="footer">
<div class="link"><span>相关推荐：<a href="http://www.biqubook.com/3_3315/" target="_blank">万界天尊</a>、<a href="http://www.biqubook.com/3_3194/" target="_blank">人皇纪</a>、<a href="http://www.biqubook.com/3_3171/" target="_blank">重生之神级学霸</a>、<a href="http://www.biqubook.com/3_3097/" target="_blank">通天仙路</a>、<a href="http://www.biqubook.com/1_1678/" target="_blank">神级幸运星</a>、<a href="http://www.biqubook.com/3_3118/" target="_blank">神荒龙帝</a>、<a href="http://www.biqubook.com/3_3058/" target="_blank">锋行天下</a>、<a href="http://www.biqubook.com/0_97/" target="_blank">守望黎明号</a>、<a href="http://www.biqubook.com/3_3188/" target="_blank">神医小农民</a>、<a href="http://www.biqubook.com/0_201/" target="_blank">随身带着女神皇</a>、<a href="http://www.biqubook.com/2_2043/" target="_blank">盗天仙途</a>、<a href="http://www.biqubook.com/2_2618/" target="_blank">我是至尊</a>、<a href="http://www.biqubook.com/0_501/" target="_blank">牧神记</a></span></div>
<hr>
<p> 《<a href="/3_3097/">通天仙路</a>》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的穿越小说，笔趣阁转载收集通天仙路最新章节。</p>
	<script>footer();tj();readtc();</script>
</div>
</body>
</html>